{% extends '@ErrorHandler/Layout/layout.twig' %}

{% block errorMessage %}
    <h3 class="error-subtitle">{{ 'error-handler.error-404.subtitle' | trans }}</h3>
    <p class="error-text">{{ 'error-handler.error-404.text' | trans }}</p>
{% endblock %}

{% block errorActions %}
    <div class="error-actions">
        <button class="error-button" type="button" onclick="history.back()">{{ 'error.back' | trans }}</button>
        <a href="{{ path('home') }}" class="error-button" type="button" onclick="">{{ 'error.return-home' | trans }}</a>
    </div>
{% endblock %}
